/Cliente.class
/Empleado.class
/EnumOperaciones.class
/EpdoCajero.class
/EpdoComercial.class
/EpdoFinanciacion.class
/EpdoPostVenta.class
/EpdoTecnico.class
/Factura.class
/FichaCliente.class
/FichaReparacion.class
/Operacion.class
/OperacionProducto.class
/OperacionUsuario.class
/Pieza.class
/Solicitud.class
/Usuario.class
/Usuarios.class
/Util.class
