/Caracteristica.class
/EnumEstadoProducto.class
/Producto.class
/ProductoHogar.class
/ProductoImagen.class
/ProductoInformatica.class
/ProductoSonido.class
/ProductoTelefonia.class
/Productos.class
/Reporte.class
